@import "base.less";

@tileSize: 32px;

body{
	background-color: #b85;
}

#flash{
	width: @tileSize*21;
	height: @tileSize*15;
	margin:0;
	padding:0;
	position:relative;
}

#panel{
	width: @tileSize*21;
	height: @tileSize*5;
	background-color: #000;
	margin:0;
	padding: 0;
	overflow-y: scroll;

	p{
		color: #45f;
		margin: 1em;
		font-size: smaller;
	}
}


.baddie{
	width: @tileSize;
	height: @tileSize;
	position: absolute;
	background-image: url(tiles/dc-mon/human.png);
	z-index: 10;
	.transition-duration(0.2s);
	.transition-property(e('left,top'));
}

.weapon{
	width:@tileSize;height:@tileSize;
	z-index:9;
	position:absolute;
	background-repeat: no-repeat;
	&.dagger{
		top: 6px;
		left: 2px;
		background-size: @tileSize/1.5, @tileSize/1.5;
		background-image:url(tiles/item/weapon/dagger.png);
	}

	&.club{
		background-image:url(tiles/item/weapon/club.png);
	}
}

.armour{
	width:@tileSize;height:@tileSize;
	z-index:9;
	position:absolute;
	background-repeat: no-repeat;

	&.chainMail{
		top: 10px;
		left: 7px;
		background-size: @tileSize/2, @tileSize/2;
		background-image: url(tiles/item/armour/chain_mail3.png);
	}
}

.enemy{
	width: @tileSize;
	height: @tileSize;
	position: absolute;
	z-index: 10;
	.transition-duration(0.2s);
	.transition-property(e('left,top'));

	&.ghost{
		background-image: url(tiles/dc-mon/undead/ghost.png);
	}

	&.devil{
		background-image: url(tiles/dc-mon/demons/red_devil.png);
	}
}

 .tile, .obstacle{
 	width: @tileSize;
 	height: @tileSize;
 	float: left;
 	backgroun-repeat: no-repeat;
 }

 .t11{background-image:url(tiles/dc-dngn/floor/bog_green0.png);}
 .t12{background-image:url(tiles/dc-dngn/floor/marble_floor1.png);}
 .t15{background-image:url(tiles/dc-dngn/floor/floor_nerves0.png);}


 .o13{background-image:url(tiles/dc-dngn/floor/cobble_blood1.png);}
 .o14{background-image:url(tiles/dc-dngn/floor/floor_vines5.png);}
 .o16{background-image:url(tiles/dc-dngn/altars/dngn_altar.png);}
